{# welcome.html.twig #}
{% extends 'layout/base2.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheet/test.css') }}">
{% endblock %}

{% block body %}

    <h1 class="tClass">Welcome {{ user|default("Anonymous") }} !</h1>
    <p>Bienvenue sur notre site de ventes!</p>

{% endblock %}