{# welcome.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <h1>Welcome {{ user|default("Anonymous") }} !</h1>
    <p>Bienvenue sur notre site de ventes!</p>

    {% if user == "Anonymous" %}
        <a href="/?username=Lucas">Connexion rapide</a>
    {% else %}
        <a href="/">Deconnexion</a>
    {% endif %}

{% endblock %}