{# welcome.html.twig #}
{% extends 'layout/base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <h1>Welcome {{ user|default("Anonymous") }} !</h1>
    <p>Bienvenue sur notre site de ventes!</p>

{% endblock %}