{% extends 'layout/base2.html.twig' %}
{% block title %}Modifier produit{% endblock %}
{% block body %}
    <h1>Modifier le produit</h1>
    {% if updateForm is defined %}
        {{ form(updateForm) }}
    {% endif %}
{% endblock %}